<header class="row">
	<div class="col-lg-12">
		<%= image_tag 'serenity.svg', class: 'img-center' %>
	</div>
</header>
<section class="row">
	<div class="col-lg-12 text-center content-section">
		<%= link_to 'Começar', new_paste_path, class: 'btn btn-custom', role: 'button' %>
	</div>
</section>
